* {
  padding: 0;
  margin: 0;
}

.profile_main {
  width: 39rem;
  border-right: 1px solid rgb(85, 83, 83);
  margin-left: 21rem;
  min-height: 100vh;
  overflow: scroll;
  scrollbar-width: thin;
  -ms-overflow-style: none;
}
.profile_main_day {
  width: 39rem;
  border-right: 1px solid rgb(236, 236, 236);
  margin-left: 21rem;
  min-height: 100vh;
  overflow: scroll;
  scrollbar-width: thin;
}
.profile_header {
  height: 3rem;
  font-size: 12px;
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

::-webkit-scrollbar {
  display: none;
}

.fa-arrow-left {
  margin-right: 1.5rem;
  cursor: pointer;
}

.profile_sec {
  min-height: 100px;
  overflow: hidden;
}

.cover_image {
  height: 12rem;
  background-color: #ffa500c7;
}

.profile_image {
  width: 8rem;
  height: 8rem;
  background-color: blanchedalmond;
  border-radius: 100px;
  margin-top: -4rem;
  margin-left: 1.5rem;
  cursor: pointer;
}
.profile_image_large {
  width: 35rem;
  height: 35rem;
  background-color: blanchedalmond;
  border-radius: 500px;
}
.bio_sec {
  height: 4rem;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.name_sec {
  font-size: 10px;
  margin-top: 0.5rem;
  margin-left: 1.5rem;
}

.profile_button {
  border: none;
  width: 7rem;
  font-size: 15px;
  font-weight: 700;
  background-color: orange;
  height: 2.5rem;
  border-radius: 50px;
  cursor: pointer;
  margin-right: 1rem;
  margin-top: -3rem;
}

.profile_details {
  display: flex;
  flex-direction: column;
}

.all_profdetails {
  color: rgb(143, 141, 141);
  font-weight: 300;
  align-items: center;
}

.all_profdetails p {
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
}
.all_profdetails_day {
  color: rgb(70, 68, 68);
  font-weight: 300;
  align-items: center;
}
.all_profdetails_day p {
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
}
.fa-map-marker-alt {
  margin-right: 0.5rem;
}

.fa-birthday-cake {
  margin-right: 0.5rem;
}

.followers {
  display: flex;
  margin-left: 1.5rem;
}
.followers_day {
  display: flex;
  margin-left: 1.5rem;
}
.followers p {
  color: rgb(143, 141, 141);
  font-weight: 300;
  margin-right: 1.5rem;
  margin-left: 0.5rem;
  padding-bottom: 2px;
  border: 1px solid transparent;
}
.followers_day p {
  color: rgb(104, 101, 101);
  font-weight: 400;
  margin-right: 1.5rem;
  margin-left: 0.5rem;
  padding-bottom: 2px;
  border: 1px solid transparent;
}
.followers p:hover {
  border-bottom: 1px solid;
  cursor: pointer;
}
.followers_day p:hover {
  border-bottom: 1px solid;
  cursor: pointer;
}
.bio_details {
  color: white;
}

.bio_sec p {
  font-size: 15px;
  color: rgb(143, 141, 141);
}

.userspinnerstyle {
  margin-left: 30rem;
  margin-top: 30rem;
}

.handleempty {
  margin-top: 3rem;
  text-align: center;
}
.profile_photo {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1000px) {
  body {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  body::-webkit-scrollbar {
    display: none;
  }

  .profile_main {
    width: 100%;
    border-right: 0px solid rgb(85, 83, 83);
    margin-left: 0rem;
    min-height: 100vh;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .profile_header {
    height: 3rem;
    font-size: 12px;
    display: flex;
    align-items: center;
    margin-left: 1rem;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .fa-arrow-left {
    margin-right: 1.5rem;
    cursor: pointer;
  }

  .profile_sec {
    min-height: 100px;
    overflow: hidden;
  }

  .cover_image {
    height: 7rem;
    background-color: #ffa500c7;
  }

  .profile_image {
    width: 5.5rem;
    height: 5.5rem;
    background-color: blanchedalmond;
    border-radius: 100px;
    margin-top: -3rem;
    margin-left: 1rem;
  }

  .bio_sec {
    height: 4rem;
    margin-bottom: 0rem;
    display: flex;
    justify-content: space-between;
  }

  .name_sec {
    font-size: 10px;
    margin-top: 0.5rem;
    margin-left: 1.5rem;
  }

  .profile_button {
    border: none;
    width: 7rem;
    font-size: 15px;
    font-weight: 700;
    background-color: orange;
    height: 2.5rem;
    border-radius: 50px;
    cursor: pointer;
    margin-right: 1rem;
    margin-top: -2rem;
  }

  .profile_details {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(85, 83, 83);
  }

  .all_profdetails {
    /* display: flex; */
    color: rgb(143, 141, 141);
    font-weight: 300;
    /* height: 2rem; */
    align-items: center;
  }

  .all_profdetails p {
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .fa-map-marker-alt {
    margin-right: 0.5rem;
  }

  .fa-birthday-cake {
    margin-right: 0.5rem;
  }

  .followers {
    display: flex;
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .followers p {
    color: rgb(143, 141, 141);
    font-weight: 300;
    margin-right: 1.5rem;
    margin-left: 0.5rem;
    padding-bottom: 2px;
    border: 1px solid transparent;
  }

  .followers p:hover {
    border-bottom: 1px solid;
    cursor: pointer;
  }

  .bio_details {
    color: white;
  }

  .bio_sec p {
    font-size: 15px;
    color: rgb(143, 141, 141);
  }

  #profile_main .tweets {
    width: 100%;
    padding-top: 5px;
    margin-bottom: 4rem;
  }

  .profile_image_large {
    width: 15rem;
    height: 15rem;
    background-color: blanchedalmond;
    border-radius: 200px;
    margin-bottom: 9rem;
  }
  .profile_photo {
    width: 90vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
